my-workflows/Email_Routing_Helpdesk.json
{"updatedAt":"2026-04-16T02:19:34.626Z","createdAt":"2025-12-23T08:06:21.686Z","id":"USd9fXBCshmGa4PU","name":"PRO_Email Routing Helpdesk","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["INBOX"]}},"id":"1","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[256,304],"credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","url":"=https://www.googleapis.com/gmail/v1/users/me/messages/{{$json.id}}?format=full","options":{}},"id":"2","name":"Get Full Email with Attachments","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[464,304],"credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"jsCode":"try {\n  // Extract email data from Gmail API full response\n  const item = $input.first().json;\n  const payload = item.payload;\n  const headers = payload.headers || [];\n\n  // Extract From header\n  const fromHeader = headers.find(h => h.name === 'From')?.value || '';\n\n  // Extract Subject header  \n  const subjectHeader = headers.find(h => h.name === 'Subject')?.value || '';\n\n  // Extract To header\n  const toHeader = headers.find(h => h.name === 'To')?.value || '';\n\n  // Extract Cc header\n  const ccHeader = headers.find(h => h.name === 'Cc')?.value || '';\n\n  let bodyHtml = '';\n  let bodyText = '';\n  const attachmentIds = [];\n\n  // Recursive function to extract body and attachments\n  function parseParts(part) {\n    if (!part) return;\n    \n    const mimeType = part.mimeType || '';\n    \n    // Extract body content\n    if (mimeType === 'text/html' && part.body?.data) {\n      if (!bodyHtml) {\n        try {\n          bodyHtml = Buffer.from(part.body.data, 'base64').toString('utf-8');\n        } catch (e) {\n          // Fallback if not base64\n          bodyHtml = part.body.data;\n        }\n      }\n    } else if (mimeType === 'text/plain' && part.body?.data) {\n      if (!bodyText) {\n        try {\n          bodyText = Buffer.from(part.body.data, 'base64').toString('utf-8');\n        } catch (e) {\n          // Fallback if not base64\n          bodyText = part.body.data;\n        }\n      }\n    }\n    \n    // Extract attachment metadata\n    if (part.filename && part.body?.attachmentId) {\n      attachmentIds.push({\n        id: part.body.attachmentId,\n        filename: part.filename,\n        mimeType: part.mimeType,\n        size: part.body.size\n      });\n    }\n    \n    // Recursively process parts\n    if (part.parts && Array.isArray(part.parts)) {\n      part.parts.forEach(parseParts);\n    }\n  }\n\n  // Start parsing from the top-level payload\n  parseParts(payload);\n\n  return {\n    From: fromHeader,\n    To: toHeader,\n    Cc: ccHeader,\n    Subject: subjectHeader,\n    bodyHtml: bodyHtml,\n    bodyText: bodyText,\n    attachmentIds: attachmentIds,\n    messageId: item.id\n  };\n  \n} catch (error) {\n  throw new Error(`Extract Email Data failed: ${error.message}`);\n}"},"id":"3","name":"Extract Email Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[624,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.To }}","rightValue":"helpdesk@pebsteel.com.vn","operator":{"type":"string","operation":"contains"}},{"id":"condition2","leftValue":"={{ $json.Cc }}","rightValue":"helpdesk@pebsteel.com.vn","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"19","name":"Check Helpdesk in TO or CC","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,304]},{"parameters":{"jsCode":"const from = $json.From || '';\nlet targetRecipientTO = '';\nlet targetRecipientCC = '';\n\nif (from.includes('hrm@pebsteel.com.vn')) {\n  targetRecipientTO = 'loi@pebsteel.com.vn,ntb@pebsteel.com.vn,thv@pebsteel.com.vn,tnq@pebsteel.com.vn,ntn@pebsteel.com.vn';\n  targetRecipientCC = '';\n} else if (from.includes('Vung Tau') || from.includes('Vungtau')) {\n  targetRecipientTO = 'tnq@pebsteel.com.vn,ntn@pebsteel.com.vn';\n  targetRecipientCC = 'loi@pebsteel.com.vn';\n} else if (from.includes('HCMC')) {\n  targetRecipientTO = 'ntb@pebsteel.com.vn,loi@pebsteel.com.vn,thv@pebsteel.com.vn';\n  targetRecipientCC = '';\n} else {\n  targetRecipientTO = 'loi@pebsteel.com.vn';\n  targetRecipientCC = '';\n}\n\nconst targetRecipient = targetRecipientTO + (targetRecipientCC ? ',' + targetRecipientCC : '');\n\nreturn { \n  ...$json, \n  targetRecipient: targetRecipient,\n  targetRecipientTO: targetRecipientTO,\n  targetRecipientCC: targetRecipientCC\n};"},"id":"4","name":"Compute Recipient","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,304]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.attachmentIds.length}}","operation":"larger"}]}},"id":"5","name":"Has Attachments","type":"n8n-nodes-base.if","typeVersion":1,"position":[1264,304]},{"parameters":{"jsCode":"const attachmentIds = $json.attachmentIds;\nconst baseData = { ...$json };\ndelete baseData.attachmentIds;\n\nreturn attachmentIds.map(att => ({\n  ...baseData,\n  attachmentId: att.id,\n  attachmentFilename: att.filename,\n  attachmentMimeType: att.mimeType\n}));"},"id":"6","name":"Split Attachments","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,160]},{"parameters":{"url":"=https://www.googleapis.com/gmail/v1/users/me/messages/{{$json.messageId}}/attachments/{{$json.attachmentId}}","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"7","name":"Download Attachment","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1584,16],"credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"jsCode":"// Combine all downloaded attachments into a single item\n// Gmail Send Email expects all attachments under binary keys\nconst items = $input.all();\n\nif (items.length === 0) {\n  // Return item with empty binaryFieldNames so Check Binary Exists routes to \"no attachments\" path\n  return {\n    json: {\n      From: '',\n      Subject: '',\n      bodyHtml: '',\n      bodyText: '',\n      targetRecipient: '',\n      targetRecipientTO: '',\n      targetRecipientCC: '',\n      messageId: '',\n      attachmentCount: 0,\n      binaryFieldNames: ''  // Empty string will fail \"notEmpty\" check\n    },\n    binary: {}\n  };\n}\n\n// Get email data from first item (all items have same email data)\nconst emailData = items[0].json;\n\n// Create result with email data\nconst result = {\n  json: {\n    From: emailData.From || '',\n    Subject: emailData.Subject || '',\n    bodyHtml: emailData.bodyHtml || '',\n    bodyText: emailData.bodyText || '',\n    targetRecipient: emailData.targetRecipient || '',\n    targetRecipientTO: emailData.targetRecipientTO || '',\n    targetRecipientCC: emailData.targetRecipientCC || '',\n    messageId: emailData.messageId || '',\n    attachmentCount: items.length,\n    binaryFieldNames: ''  // Initialize with empty string\n  },\n  binary: {}\n};\n\n// Add each attachment as a separate binary property and track the keys\nconst binaryKeys = [];\nitems.forEach((item, index) => {\n  if (item.binary && item.binary.data) {\n    const binaryKey = index === 0 ? 'data' : `data${index}`;\n    result.binary[binaryKey] = item.binary.data;\n    binaryKeys.push(binaryKey);\n  }\n});\n\n// Set binaryFieldNames - will be empty string if no binary data found\nresult.json.binaryFieldNames = binaryKeys.length > 0 ? binaryKeys.join(',') : '';\n\nreturn result;"},"id":"8","name":"Combine Attachments","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,144]},{"parameters":{},"id":"9","name":"Merge Branches","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2144,288]},{"parameters":{"jsCode":"// Decode Gmail attachment from base64url and create binary data\nconst items = $input.all();\nconst splitAttachmentsItems = $('Split Attachments').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const sourceItem = splitAttachmentsItems[i];\n  \n  // Get filename and mimeType from the original Split Attachments node\n  const filename = sourceItem?.json?.attachmentFilename || 'attachment';\n  const mimeType = sourceItem?.json?.attachmentMimeType || 'application/octet-stream';\n  \n  // Get attachment data - try multiple locations\n  let attachmentDataStr;\n  if (item.json.attachmentData?.data) {\n    attachmentDataStr = item.json.attachmentData.data;\n  } else if (item.json.data) {\n    attachmentDataStr = item.json.data;\n  } else {\n    throw new Error('Could not find attachment data. Available keys: ' + Object.keys(item.json).join(', ') + '. Full JSON: ' + JSON.stringify(item.json));\n  }\n  \n  // Decode base64url to buffer\n  const base64Data = attachmentDataStr.replace(/-/g, '+').replace(/_/g, '/');\n  const buffer = Buffer.from(base64Data, 'base64');\n  \n  // Extract file extension\n  const fileExtension = filename.includes('.') ? filename.split('.').pop() : '';\n  \n  results.push({\n    json: {\n      From: sourceItem.json.From || '',\n      Subject: sourceItem.json.Subject || '',\n      bodyHtml: sourceItem.json.bodyHtml || '',\n      bodyText: sourceItem.json.bodyText || '',\n      targetRecipient: sourceItem.json.targetRecipient || '',\n      targetRecipientTO: sourceItem.json.targetRecipientTO || '',\n      targetRecipientCC: sourceItem.json.targetRecipientCC || '',\n      messageId: sourceItem.json.messageId || '',\n      attachmentFilename: filename\n    },\n    binary: {\n      data: {\n        data: buffer.toString('base64'),\n        mimeType: mimeType,\n        fileName: filename,\n        fileExtension: fileExtension\n      }\n    }\n  });\n}\n\nreturn results;"},"id":"11","name":"Decode Attachment","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition1","leftValue":"={{ $json.binaryFieldNames }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"12","name":"Check Binary Exists","type":"n8n-nodes-base.if","typeVersion":2,"position":[2432,288]},{"parameters":{"resource":"message","operation":"send","sendTo":"={{ $json.targetRecipientTO }}","subject":"={{ '🔔 New Request: ' + $json.Subject }}","message":"={{ '<div style=\"background-color: #fffacd; border-left: 4px solid #ffa500; padding: 10px; margin-bottom: 15px; font-family: Arial, sans-serif;\"><strong>📧 How to Reply:</strong><br>• To respond to the sender, click the <strong>\"Reply All\"</strong> button<br>• This will keep your teammates in CC and maintain visibility<br>• Do NOT use \"Reply\" - it will exclude your team members</div><div style=\"background-color: #f0f0f0; border-left: 4px solid #4285f4; padding: 12px; margin-bottom: 20px; font-family: Arial, sans-serif;\"><strong style=\"color: #4285f4;\">--- Forwarded Email ---</strong><br><strong>From:</strong> ' + $json.From + '<br><strong>Received:</strong> ' + $now.format('yyyy-MM-dd HH:mm:ss') + '</div>' + ($json.bodyHtml || $json.bodyText) }}","options":{"replyTo":"={{ $json.From.match(/<(.+?)>/) ? $json.From.match(/<(.+?)>/)[1] : $json.From }}","ccList":"={{ $json.targetRecipientCC }}","attachmentsUi":{"attachmentsBinary":[{"property":"={{$json.binaryFieldNames}}"}]}}},"id":"13","name":"Send Email With Attachments","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2624,192],"webhookId":"ffe011ea-c0ae-4e7b-adc8-617915ee28ef","credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"resource":"message","operation":"send","sendTo":"={{ $json.targetRecipientTO }}","subject":"={{ '🔔 New Request: ' + $json.Subject }}","message":"={{ '<div style=\"background-color: #fffacd; border-left: 4px solid #ffa500; padding: 10px; margin-bottom: 15px; font-family: Arial, sans-serif;\"><strong>📧 How to Reply:</strong><br>• To respond to the sender, click the <strong>\"Reply All\"</strong> button<br>• This will keep your teammates in CC and maintain visibility<br>• Do NOT use \"Reply\" - it will exclude your team members</div><div style=\"background-color: #f0f0f0; border-left: 4px solid #4285f4; padding: 12px; margin-bottom: 20px; font-family: Arial, sans-serif;\"><strong style=\"color: #4285f4;\">--- Forwarded Email ---</strong><br><strong>From:</strong> ' + $json.From + '<br><strong>Received:</strong> ' + $now.format('yyyy-MM-dd HH:mm:ss') + '</div>' + ($json.bodyHtml || $json.bodyText) }}","options":{"replyTo":"={{ $json.From.match(/<(.+?)>/) ? $json.From.match(/<(.+?)>/)[1] : $json.From }}","ccList":"={{ $json.targetRecipientCC }}"}},"id":"14","name":"Send Email Without Attachments","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2624,416],"webhookId":"598d7caf-4bd9-4085-be93-b6a0afa8d141","credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"content":"# Email Routing Rules\n\n| Priority | Condition                               | Recipients                                                                                              |\n|----------|-----------------------------------------|---------------------------------------------------------------------------------------------------------|\n| 1        | Sender contains hrm@pebsteel.com.vn     | loi@pebsteel.com.vn, ntb@pebsteel.com.vn, thv@pebsteel.com.vn, tnq@pebsteel.com.vn, ntn@pebsteel.com.vn |\n| 2        | Sender contains \"Vung Tau\" or \"Vungtau\" | **TO:** tnq@pebsteel.com.vn, ntn@pebsteel.com.vn<br>**CC:** loi@pebsteel.com.vn                         |\n| 3        | Sender contains \"HCMC\"                  | ntb@pebsteel.com.vn, loi@pebsteel.com.vn, thv@pebsteel.com.vn                                           |\n| 4        | Default (no match to above)             | loi@pebsteel.com.vn                                              ","height":240,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,-192],"id":"d9010a4d-de92-4a8c-8423-177270e052b0","name":"Sticky Note"},{"parameters":{"content":"Running: 2025.12.23\nupdate 1: 2026.01.10 - Rule 2_CC LOI\nupdate 2: 2026.01.10 - Changed to insert rows at top (newest first)\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,-384],"id":"14cf7131-1962-4699-864a-d8bfdc227c55","name":"Sticky Note1"},{"parameters":{},"id":"15","name":"Merge Send Results","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2832,304]},{"parameters":{"jsCode":"// Get the original messageId from the Extract Email Data node\nconst extractedData = $('Extract Email Data').first().json;\nconst messageId = extractedData.messageId;\n\n// Get targetRecipient from Compute Recipient node\nconst computedData = $('Compute Recipient').first().json;\nconst targetRecipientTO = computedData.targetRecipientTO || '';\nconst targetRecipientCC = computedData.targetRecipientCC || '';\n\n// Extract sender email from original data\nconst senderEmail = extractedData.From || '';\nconst emailMatch = senderEmail.match(/([a-zA-Z0-9._-]+)@/);\nconst emailPrefix = emailMatch ? emailMatch[1] : '';\nconst senderName = emailPrefix.substring(0, 3).toUpperCase() || 'SENDER';\n\n// Extract just the email address from From header (remove name if present)\n// From header format: \"Name <email@domain.com>\" or \"email@domain.com\"\nconst emailAddressMatch = senderEmail.match(/<(.+?)>/) || senderEmail.match(/([^\\\\s]+@[^\\\\s]+)/);\nconst senderEmailAddress = emailAddressMatch ? emailAddressMatch[1] : senderEmail;\n\n// Extract receiver names from TO recipients\nconst toEmails = targetRecipientTO.split(',').map(e => e.trim()).filter(e => e);\nconst toNames = toEmails.map(email => {\n  const match = email.match(/([a-zA-Z0-9._-]+)@/);\n  return match ? match[1].toUpperCase() : email;\n}).filter(name => name !== null && name !== '');\n\n// Extract receiver names from CC recipients\nconst ccEmails = targetRecipientCC.split(',').map(e => e.trim()).filter(e => e);\nconst ccNames = ccEmails.map(email => {\n  const match = email.match(/([a-zA-Z0-9._-]+)@/);\n  return match ? match[1].toUpperCase() : email;\n}).filter(name => name !== null && name !== '');\n\n// Format receiver message with TO and CC distinction\nlet forwardedToMessage = '';\nif (toNames.length > 0 && ccNames.length > 0) {\n  forwardedToMessage = '<strong>' + toNames.join(', ') + '</strong> (with CC to <strong>' + ccNames.join(', ') + '</strong>)';\n} else if (toNames.length > 0) {\n  forwardedToMessage = '<strong>' + toNames.join(', ') + '</strong>';\n}\n\n// Create reply message with HTML formatting\nconst subject = extractedData.Subject || 'your request';\nconst replyMessage = '<div style=\"font-family: Arial, sans-serif;\">Dear ' + senderName + ',<br><br>Thank you for contacting IT Helpdesk.<br><br>We have received your email about \"<strong>' + subject + '</strong>\" and forwarded it to: ' + forwardedToMessage + '.<br><br>They will assist you shortly.<br><br>Best regards,<br>Pebsteel IT Helpdesk Team</div>';\n\n// Create custom subject\nconst replySubject = 'Re: ' + subject + ' - Your information was received';\n\nreturn {\n  messageId: messageId,\n  replyMessage: replyMessage,\n  replySubject: replySubject,\n  senderEmailAddress: senderEmailAddress,\n  receiverNamesTO: toNames.join(', '),\n  receiverNamesCC: ccNames.length > 0 ? ccNames.join(', ') : 'N/A',\n  From: extractedData.From,\n  Subject: extractedData.Subject\n};"},"id":"16","name":"Prepare Reply Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,304]},{"parameters":{"resource":"message","operation":"send","sendTo":"={{ $json.senderEmailAddress }}","subject":"={{ $json.replySubject }}","message":"={{ $json.replyMessage }}","options":{}},"id":"17","name":"Reply to Sender","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[3232,304],"webhookId":"59f868ec-acfd-49fe-b58d-1b06d3361049","credentials":{"gmailOAuth2":{"id":"3bQRgV0fGifVQSTd","name":"Gmail account 3"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kHBcHAkOGfA5zws6-qvkZx8v6mzcWXtV9iwDn6bsL1w","mode":"list","cachedResultName":"Helpdesk Email Tracking_N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kHBcHAkOGfA5zws6-qvkZx8v6mzcWXtV9iwDn6bsL1w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kHBcHAkOGfA5zws6-qvkZx8v6mzcWXtV9iwDn6bsL1w/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,512],"id":"fa433bd6-09c5-414d-9a59-5a9f13cf7b87","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"zvHVQr9apJBD3c5N","name":"Google Sheets account 3"}},"disabled":true},{"parameters":{"jsCode":"// Prepare data for Google Sheets logging\nconst from = $json.From || '';\nconst subject = $json.Subject || '';\nconst bodyHtml = $json.bodyHtml || '';\nconst bodyText = $json.bodyText || '';\nconst targetRecipientTO = $json.targetRecipientTO || '';\nconst targetRecipientCC = $json.targetRecipientCC || '';\nconst messageId = $json.messageId || '';\nconst attachmentIds = $json.attachmentIds || [];\n\n// Extract email address and name from From header\nlet fromEmail = '';\nlet fromName = '';\n\nconst emailMatch = from.match(/<(.+?)>/);\nif (emailMatch) {\n  fromEmail = emailMatch[1];\n  fromName = from.replace(/<.+?>/, '').trim();\n} else {\n  fromEmail = from.trim();\n  fromName = from.trim();\n}\n\n// Create body preview with preserved line breaks\nlet bodyPreview = bodyText || bodyHtml || '';\n\nif (bodyHtml) {\n  bodyPreview = bodyPreview.replace(/<br\\s*\\/?>/gi, '\\n');\n  bodyPreview = bodyPreview.replace(/<\\/p>/gi, '\\n\\n');\n  bodyPreview = bodyPreview.replace(/<p[^>]*>/gi, '');\n  bodyPreview = bodyPreview.replace(/<\\/div>/gi, '\\n');\n  bodyPreview = bodyPreview.replace(/<div[^>]*>/gi, '');\n}\n\nbodyPreview = bodyPreview.replace(/<[^>]*>/g, '');\nbodyPreview = bodyPreview.replace(/\\n{3,}/g, '\\n\\n');\nbodyPreview = bodyPreview.replace(/[ \\t]+/g, ' ');\nbodyPreview = bodyPreview.trim();\nbodyPreview = bodyPreview.substring(0, 500);\nif (bodyPreview.length === 500) {\n  bodyPreview += '...';\n}\n\n// Format TO recipients (extract names)\nconst toEmails = targetRecipientTO.split(',').map(e => e.trim()).filter(e => e);\nconst toNames = toEmails.map(email => {\n  const match = email.match(/([a-zA-Z0-9._-]+)@/);\n  return match ? match[1].toUpperCase() : email;\n}).join(', ');\n\n// Format CC recipients (extract names) with N/A handling\nconst ccEmails = targetRecipientCC.split(',').map(e => e.trim()).filter(e => e);\nconst ccNames = ccEmails.length > 0 \n  ? ccEmails.map(email => {\n      const match = email.match(/([a-zA-Z0-9._-]+)@/);\n      return match ? match[1].toUpperCase() : email;\n    }).join(', ')\n  : 'N/A';\n\n// Attachment info\nconst hasAttachments = attachmentIds.length > 0 ? 'Yes' : 'No';\nconst attachmentCount = attachmentIds.length;\n\n// Current timestamp\nconst timestamp = $now.toFormat('yyyy-MM-dd HH:mm:ss');\n\nreturn {\n  Timestamp: timestamp,\n  FromEmail: fromEmail,\n  FromName: fromName,\n  Subject: subject,\n  BodyPreview: bodyPreview,\n  RecipientsTO: toNames,\n  RecipientsCC: ccNames,\n  HasAttachments: hasAttachments,\n  AttachmentCount: attachmentCount.toString(),\n  MessageID: messageId\n};"},"id":"18","name":"Prepare Sheet Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,512]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1024,672],"id":"9235202d-712f-4377-963f-517123bbc615","name":"No Operation, do nothing"},{"id":"20","name":"Insert Row at Top","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1600,512],"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1kHBcHAkOGfA5zws6-qvkZx8v6mzcWXtV9iwDn6bsL1w:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"requests\": [{\n    \"insertDimension\": {\n      \"range\": {\n        \"sheetId\": 0,\n        \"dimension\": \"ROWS\",\n        \"startIndex\": 1,\n        \"endIndex\": 2\n      }\n    }\n  }]\n} }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"zvHVQr9apJBD3c5N","name":"Google Sheets account 3"}}},{"id":"21","name":"Write Data to Row 2","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1800,512],"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1kHBcHAkOGfA5zws6-qvkZx8v6mzcWXtV9iwDn6bsL1w/values/Sheet1!A2:J2?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  values: [[\n    $('Prepare Sheet Data').first().json.Timestamp,\n    $('Prepare Sheet Data').first().json.FromEmail,\n    $('Prepare Sheet Data').first().json.FromName,\n    $('Prepare Sheet Data').first().json.Subject,\n    $('Prepare Sheet Data').first().json.BodyPreview,\n    $('Prepare Sheet Data').first().json.RecipientsTO,\n    $('Prepare Sheet Data').first().json.RecipientsCC,\n    $('Prepare Sheet Data').first().json.HasAttachments,\n    $('Prepare Sheet Data').first().json.AttachmentCount,\n    $('Prepare Sheet Data').first().json.MessageID\n  ]]\n}) }}","options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"zvHVQr9apJBD3c5N","name":"Google Sheets account 3"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Get Full Email with Attachments","type":"main","index":0}]]},"Get Full Email with Attachments":{"main":[[{"node":"Extract Email Data","type":"main","index":0}]]},"Extract Email Data":{"main":[[{"node":"Check Helpdesk in TO or CC","type":"main","index":0}]]},"Check Helpdesk in TO or CC":{"main":[[{"node":"Compute Recipient","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Compute Recipient":{"main":[[{"node":"Prepare Sheet Data","type":"main","index":0},{"node":"Has Attachments","type":"main","index":0}]]},"Has Attachments":{"main":[[{"node":"Split Attachments","type":"main","index":0}],[{"node":"Merge Branches","type":"main","index":1}]]},"Split Attachments":{"main":[[{"node":"Download Attachment","type":"main","index":0}]]},"Combine Attachments":{"main":[[{"node":"Merge Branches","type":"main","index":0}]]},"Merge Branches":{"main":[[{"node":"Check Binary Exists","type":"main","index":0}]]},"Download Attachment":{"main":[[{"node":"Decode Attachment","type":"main","index":0}]]},"Decode Attachment":{"main":[[{"node":"Combine Attachments","type":"main","index":0}]]},"Check Binary Exists":{"main":[[{"node":"Send Email With Attachments","type":"main","index":0}],[{"node":"Send Email Without Attachments","type":"main","index":0}]]},"Send Email With Attachments":{"main":[[{"node":"Merge Send Results","type":"main","index":0}]]},"Send Email Without Attachments":{"main":[[{"node":"Merge Send Results","type":"main","index":0}]]},"Merge Send Results":{"main":[[{"node":"Prepare Reply Message","type":"main","index":0}]]},"Prepare Reply Message":{"main":[[{"node":"Reply to Sender","type":"main","index":0}]]},"Prepare Sheet Data":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0},{"node":"Insert Row at Top","type":"main","index":0}]]},"Insert Row at Top":{"main":[[{"node":"Write Data to Row 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Gmail Trigger":{"lastTimeChecked":1777445134,"possibleDuplicates":["19dd7fc7572d1e86","19dbceeb8a9ad306"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a41b2a80-9291-4e21-9cce-d3e70b5fc713","versionCounter":391,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-23T08:06:21.688Z","createdAt":"2025-12-23T08:06:21.688Z","role":"workflow:owner","workflowId":"USd9fXBCshmGa4PU","projectId":"Oebz3DMqWQbWufAA","project":{"updatedAt":"2025-12-22T09:02:31.009Z","createdAt":"2025-12-22T08:57:54.071Z","id":"Oebz3DMqWQbWufAA","name":"Helpdesk IT <helpdesk@pebsteel.com.vn>","type":"personal","icon":null,"description":null}}]}